$sred: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$Ddscyan: hsl(167, 40%, 24%);
$Db: hsl(198, 62%, 26%);
$Dmcyan: hsl(168, 34%, 41%);
$Vddsblue: hsl(212, 27%, 19%);
$vdgb: hsl(213, 9%, 39%);
$dgb: hsl(232, 10%, 55%);
$gb: hsl(210, 4%, 67%);
$crack: hsl(0, 0%, 100%);