@import 'colors';

.position-section{
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include mobile {
    display: flex;
    flex-direction: column;
  }

  .left{
    background: url(/images/desktop/image-graphic-design.jpg) no-repeat;
    @extend %flex2;
    flex-direction: column;

    @include mobile {
      background: url(/images/mobile/image-graphic-design.jpg);
      background-size: cover;
      height: 80vh;
    }

    h3{
      padding-top: 52%;
      font-size: 20px;
      padding-bottom: 20px;
      color: $Ddscyan;
      font-weight: 800;
      font-family: 'Fraunces', serif;

      @include mobile {
        padding-top: 100%;
        font-size: 2.5rem;
      }
    }

    p{
      width: 40%;
      text-align: center;
      font-size: 12px;
      line-height: 1.7;
      color: $Ddscyan;
      font-family: 'Barlow', sans-serif;

       @include mobile {
        width: 85%;
        font-size: 15px;
        line-height: 1.4;
        font-weight: 800;
      }
    }
  }
  .right{
    background: url(/images/desktop/image-photography.jpg) no-repeat;
    background-size: cover;
    height: 80vh;
    @extend %flex2;
    flex-direction: column;

    @include mobile {
      background: url(/images/mobile/image-photography.jpg);
      background-size: cover;
      height: 80vh;
    }

    h3{
      padding-top: 52%;
      font-size: 20px;
      padding-bottom: 20px;
      color: $Db;
      font-weight: 800;
      font-family: 'Fraunces', serif;

      @include mobile {
        padding-top: 100%;
        font-size: 2.5rem;
      }
    }

    p{
      width: 40%;
      text-align: center;
      font-size: 12px;
      line-height: 1.7;
      color: $Db;
      font-family: 'Barlow', sans-serif;

      @include mobile {
        width: 85%;
        font-size: 15px;
        line-height: 1.4;
        font-weight: 800;
      }
    }
  }
}