@import 'colors';
@import 'media-quires';


%flex3{
  display: flex;
  justify-content: center;
}
.transform-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;

  @include mobile {
   display: flex;
   flex-direction: column-reverse; 
   height: auto; 
  }

  .left{
    @extend %flex3;
    flex-direction: column;
    gap: 30px;
    padding: 0 100px;
    align-items: flex-start;

    @include mobile {
     padding: 0; 
     align-items: center;
     gap: 0;
    }

    h2{
      font-size: 50px;
      font-family: 'Fraunces', serif;
      color: $Vddsblue;

      @include mobile {
        text-align: center;
        padding: 50px 0 30px;
        font-size: 30px;
        font-weight: 900;
        width: 80%;
      }
    }
    p{
      font-size: 15px;
      line-height: 1.5;
      font-family: 'Barlow', sans-serif;
      color: $vdgb;

      @include mobile {
        text-align: center;
        width: 75%;
        margin-bottom: 30px;
      }
    }
    button{
      border: none;
      background-color: transparent;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700;
      padding: 0 3px;
      border-bottom: 2px solid hsl(51, 100%, 49%, 0.5);
      font-family: 'Fraunces', serif;
      cursor: pointer;
      transition: .5s;

      @include mobile {
        margin-bottom: 50px;
      }
    }
    button:hover{
      border-bottom: 2px solid $yellow;
    }
  }

  .right{
    background: url(/images/desktop/image-transform.jpg) no-repeat;
    background-size: auto;
    
    @include mobile {
     background: url(/images/mobile/image-transform.jpg) no-repeat;
     background-size: cover;
     width: 100%;
     height: 300px; 
    }
  }
}