footer, .hero-section header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimony-container div article, .testimony-container, .position-section .right, .position-section .left, .hero-section nav div ul, .hero-section nav div, .hero-section nav, .hero-section {
  display: flex;
  align-items: center;
}

.hero-section {
  flex-direction: column;
  height: 100vh;
  background: url(/images/desktop/image-header.jpg) no-repeat;
  background-size: cover;
}
.hero-section nav {
  justify-content: space-between;
  width: 80%;
  padding: 30px 0;
}
.hero-section nav div ul li {
  margin-right: 30px;
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-family: "Barlow", sans-serif;
}
.hero-section nav div button {
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  font-family: "Fraunces", serif;
  cursor: pointer;
  transition: 0.5s;
}
.hero-section nav div button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: hsl(0, 0%, 100%);
}
.hero-section header {
  flex-direction: column;
  margin-top: 70px;
}
.hero-section header h1 {
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
  letter-spacing: 5px;
  margin-bottom: 115px;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
}

.stand-out-section .right, .transform-section .left {
  display: flex;
  justify-content: center;
}

.transform-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
}
.transform-section .left {
  flex-direction: column;
  gap: 30px;
  padding: 0 100px;
  align-items: flex-start;
}
.transform-section .left h2 {
  font-size: 50px;
  font-family: "Fraunces", serif;
}
.transform-section .left p {
  font-size: 15px;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
}
.transform-section .left button {
  border: none;
  background-color: transparent;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 3px;
  border-bottom: 2px solid hsla(51, 100%, 49%, 0.5);
  font-family: "Fraunces", serif;
  cursor: pointer;
  transition: 0.5s;
}
.transform-section .left button:hover {
  border-bottom: 2px solid hsl(51, 100%, 49%);
}
.transform-section .right {
  background: url(/images/desktop/image-transform.jpg) no-repeat;
  background-size: auto;
}

.stand-out-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
}
.stand-out-section .left {
  background: url(/images/desktop/image-stand-out.jpg) no-repeat;
  background-size: auto;
}
.stand-out-section .right {
  flex-direction: column;
  gap: 30px;
  padding: 0 100px;
  align-items: flex-start;
}
.stand-out-section .right h2 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Fraunces", serif;
}
.stand-out-section .right p {
  font-size: 15px;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
}
.stand-out-section .right button {
  border: none;
  background-color: hsl(0, 0%, 100%);
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 3px;
  border-bottom: 2px solid hsl(7, 99%, 70%);
  font-family: "Fraunces", serif;
  cursor: pointer;
  transition: 0.5s;
}
.stand-out-section .right button:hover {
  border-bottom: 2px solid hsl(0, 100%, 50%);
}

.position-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.position-section .left {
  background: url(/images/desktop/image-graphic-design.jpg) no-repeat;
  flex-direction: column;
}
.position-section .left h3 {
  padding-top: 52%;
  font-size: 20px;
  padding-bottom: 20px;
  color: hsl(168, 34%, 41%);
  font-weight: 800;
  font-family: "Fraunces", serif;
}
.position-section .left p {
  width: 40%;
  text-align: center;
  font-size: 12px;
  line-height: 1.7;
  color: hsl(168, 34%, 41%);
  font-family: "Barlow", sans-serif;
}
.position-section .right {
  background: url(/images/desktop/image-photography.jpg) no-repeat;
  background-size: cover;
  height: 80vh;
  flex-direction: column;
}
.position-section .right h3 {
  padding-top: 52%;
  font-size: 20px;
  padding-bottom: 20px;
  color: hsl(198, 62%, 26%);
  font-weight: 800;
  font-family: "Fraunces", serif;
}
.position-section .right p {
  width: 40%;
  text-align: center;
  font-size: 12px;
  line-height: 1.7;
  color: hsl(198, 62%, 26%);
  font-family: "Barlow", sans-serif;
}

.testimony-container {
  flex-direction: column;
  padding: 100px 0;
}
.testimony-container h3 {
  font-family: "Fraunces", serif;
  letter-spacing: 3px;
  font-size: 15px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.testimony-container div {
  display: flex;
  width: 70%;
  gap: 30px;
}
.testimony-container div article {
  flex-direction: column;
}
.testimony-container div article img {
  height: 50px;
  margin-bottom: 50px;
  border-radius: 50%;
}
.testimony-container div article :nth-child(2) {
  text-align: center;
  width: 80%;
  margin-bottom: 40px;
  font-family: "Barlow", sans-serif;
}
.testimony-container div article :nth-child(3) {
  font-size: 15px;
  font-family: "Fraunces", serif;
  font-weight: 800;
  margin-bottom: 10px;
}
.testimony-container div article :nth-child(4) {
  text-align: center;
}

.pictures-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.pictures-section :nth-child(1) {
  background: url(/images/desktop/image-gallery-milkbottles.jpg) no-repeat;
  background-size: cover;
  height: 70vh;
}
.pictures-section :nth-child(2) {
  background: url(/images/desktop/image-gallery-orange.jpg) no-repeat;
  background-size: cover;
  height: 70vh;
}
.pictures-section :nth-child(3) {
  background: url(/images/desktop/image-gallery-cone.jpg) no-repeat;
  background-size: cover;
  height: 70vh;
}
.pictures-section :nth-child(4) {
  background: url(/images/desktop/image-gallery-sugarcubes.jpg) no-repeat;
  background-size: cover;
  height: 70vh;
  overflow: hidden;
}

footer {
  flex-direction: column;
  background-color: hsl(167, 49%, 58%);
  padding: 50px 0 0 0;
}
footer svg {
  margin-bottom: 30px;
}
footer ul {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}
footer ul li {
  color: hsl(168, 45%, 32%);
  font-family: "Barlow", sans-serif;
}
footer div {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
footer div img {
  margin-right: 15px;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}/*# sourceMappingURL=styles.css.map */