@import 'hero-section';
@import 'colors';
@import 'transform-section';
@import 'stand-out-section';
@import 'position-section';
@import 'testimony-section';
@import 'pictures-section';
@import 'footer';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
